@import url('https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Condensed');
/* font-family: 'Alegreya', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
  /* background: rgb(0, 188, 212); */
  background-image: url(/images/bg.jpg);
  background-repeat: repeat;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
}

.header{
  text-align: center;
  color: #AE7548;
}

h1 {
  font-size: 3.8vw;
  font-weight: 300;
  color: #fff;
  margin: 1em 0;
  text-align: center;
}

.container {
  /* background: #fff; */
  padding-bottom: 16px;
  margin-bottom: 16px;
  padding-top: 32px;
}

.masonry {
  margin: 0 auto;
}

.card {
  width: 296px;
  box-shadow: rgba(0, 0, 0, 0.14902) 4px 8px 8px;
  
  background-size: cover;
}

.card > .title {
  color: #fff;
  margin: 1.6em 0;
  
}

.nav-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Alegreya', serif;
  font-size: 1.7em;
  background-color: rgba(0,0,0,.3);
  
}


.icon {
  width: 32px;
  height: 32px;
}

.sk-folding-cube {
  margin: 20px auto;
  margin-top: 40px;
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 188, 212);
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.pageanime-appear {
  opacity: 0.01;
}

.pageanime-appear.example-appear-active {
  opacity: 1;
  transition: opacity 100s ease-in;
}


/*Timeline--------------------------------------------------*/

.box{
  margin:0 10%;
  height: 630px;
  overflow: hidden;
  padding: 10px 0 40px 60px
}

.box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top:0
}

.box ul:last-of-type{top:80px}

.box ul:before{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px dashed #fff;
  position: absolute;
  top:0;
  left:30px
}

.box ul li{
  margin: 20px 60px 60px;
  position: relative;
  padding: 10px 20px;
  background:rgba(255, 255, 255, 0.3);
  color:#fff;
  border-radius: 10px;
  line-height: 20px;
  width: 35%
}


.box ul li > span{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px solid #fff;
  position: absolute;
  top:0;
  left:-30px
}

.box ul li > span:before,.box ul li > span:after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:#ff6d6d;
  border:2px solid #fff;
  position: absolute;
  left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .name{
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px
}


.box .time span{
  position: absolute;
  left: -100px;
  color:#fff;
  font-size:80%;
  font-weight: bold;
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%}


.arrow{
  position: absolute;
  top: 105%;
  left: 22%;
  cursor: pointer;
height:20px;
width:20px
}

.arrow:hover{
  -webkit-animation: arrow 1s linear infinite;
     -moz-animation: arrow 1s linear infinite;
       -o-animation: arrow 1s linear infinite;
          animation: arrow 1s linear infinite;
}

.box ul:last-of-type .arrow{
  position: absolute;
  top: 105%;
  left: 22%;
  transform: rotateX(180deg);
  cursor: pointer;
}

svg{
  width: 20px;
  height: 20px
}

@keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}

@-webkit-keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}

@-moz-keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}

@-o-keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}